<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% endblock %}
    </head>
    <body class="fond-image">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><img src="{{ asset('img/logo.png') }}" style="width: 100px"
                                                  alt="logo_site"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Revenir à l'accueil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/search">Tous nos professeurs </a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item ">
                            <a class="nav-link" href="/profil">Mon profil </a>
                        </li>
                    {% endif %}
                </ul>

                {% if app.user %}
                    <div class="form-inline my-2 my-lg-0">
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger my-2 my-sm-0">Deconnexion</a>

                    </div>
                {% else %}
                    <div class="form-inline my-2 my-lg-0">
                        <a href="{{ path('app_register_prof') }}" class="btn btn-outline-warning my-2 my-sm-0">Enseigner</a>
                        <a href="{{ path('app_register') }}" class="btn btn-outline-info ml-1 my-2 my-sm-0">S'inscrire</a>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary ml-1 my-2 my-sm-0">Se connecter</a>
                    </div>
                {% endif %}

            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

    </body>
    <footer class="page-footer font-small bg-dark text-white fixed-bottom ">

        <!-- Copyright -->
        <div class="footer-copyright text-center ">© 2019 Copyright : Chawki CHOUIB & Antony FOURCHAULT
        </div>
        <!-- Copyright -->

    </footer>
</html>
